config health pulseox_dad
	option type pulseox
	option user Dad
	option address "192.168.117.1"

config health activity_joe
	option type activity
	option user Joe
	option address "192.168.117.2"

config safety motion_front
	option type motion
	option location "Front door"
	option address "192.168.117.3"

config safety motion_back
	option type motion
	option location "Back door"
	option address "192.168.117.4"

config safety smoke_kitchen
	option type smoke
	option location "Kitchen"
	option address  "192.168.117.5"

config safety water_kitchn
	option type water
	option location "Kitchen"
	option address "192.168.117.6"

config environment temp
	option type temperature
	option location "Outdoor"
	option address "192.168.117.7"

config environment hum
	option type humidity
	option location "Outdoor"
	option address "192.168.117.8"

config environment co2
	option type co2
	option location "Outdoor"
	option address "192.168.117.9"

