config 'motion' 'motion'
	option enabled "1"
	option daemon "on"
        option process_id_file "/var/run/motion.pid"
        option setup_mode "off"
        option videodevice "/dev/video0"
        option v4l2_palette 8
        option input 8
        option norm 0
        option frequency 0
        option rotate 0
        option width 320
        option height 240
        option framerate 2
        option minimum_frame_time 0
        option netcam_tolerant_check "off"
        option auto_brightness "off"
        option brightness 0
        option contrast 0
        option saturation 0
        option hue 0
        option roundrobin_frames 1
        option roundrobin_skip 1
        option switchfilter "off"
        option threshold 1500
        option threshold_tune "off"
        option noise_level 32
        option noise_tune on
        option despeckle "EedDl"
        option smart_mask_speed 0
        option lightswitch 0
        option minimum_motion_frames 1
        option pre_capture 0
        option post_capture 0
        option gap 60
        option max_mpeg_time 0
        option output_all "off"
        option output_normal "on"
        option output_motion "off"
        option quality 75
        option ppm "off"
        option ffmpeg_cap_new "on"
        option ffmpeg_cap_motion "off"
        option ffmpeg_timelapse 0
        option ffmpeg_timelapse_mode "daily"
        option ffmpeg_bps 500000
        option ffmpeg_variable_bitrate 0
        option ffmpeg_video_codec "mpeg4"
        option ffmpeg_deinterlace "off"
        option snapshot_interval 0
        option locate "off"
        option text_right "%Y-%m-%d\n%T-%q"
        option text_changes "off"
        option text_event "%Y%m%d%H%M%S"
        option text_double "off"
        option target_dir "/www/cam1"
        option snapshot_filename "%v-%Y%m%d%H%M%S-snapshot"
        option jpeg_filename "%v-%Y%m%d%H%M%S-%q"
        option movie_filename "%v-%Y%m%d%H%M%S"
        option timelapse_filename "%Y%m%d-timelapse"
        option webcam_port 8080
        option webcam_quality 50
        option webcam_motion "on"
        option webcam_maxrate 1
        option webcam_localhost "off"
        option webcam_limit 0
        option control_port 8081
        option control_localhost "on"
        option control_html_output "on"
        option track_type 0
        option track_auto "off"
        option track_motorx 0
        option track_motory 0
        option track_maxx 0
        option track_maxy 0
        option track_iomojo_id 0
        option track_step_angle_x 10
        option track_step_angle_y 10
        option track_move_wait 10
        option track_speed 255
        option track_stepsize 40
        option quiet "on"
        option sql_log_image "on"
        option sql_log_snapshot "on"
        option sql_log_mpeg "off"
        option sql_log_timelapse "off"

