# mode - webcam, wifi, modem, bluetooth, disk

config connect
	option enabled 0

config usb1
	option connected 0
	option active 0
	option mode 'webcam'

config usb2
	option connected 0
	option active
	option mode 'wifi'

config usb3
	option connected 0
	option mode 'modem'

config usb4
	option connected 0
	option mode 'bluetooth'

